
.#{$ns}container{
    background-color: rgba(0,0,0,.65);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index:99999999999999999;
}

.#{$ns}modal{
    padding: 1.5em;
    display: block;
    position: absolute;
    margin-left: -450px;
    margin-top: -300px;
    width: 900px;
    height: 622px;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    background-color: #fff;
    opacity: 0;
    border: 5px solid #3b3c3d;
    background: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.45);
    box-shadow: 0 0 8px rgba(0,0,0,0.45);
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.cla-block{
    margin-right: 4px;
    padding: .7em;
    margin-bottom: .1em;
    background-color: #eee;
    cursor: pointer;
    border-radius: 3px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    position: relative;

    &:hover{
        background-color: #ddd;
    }

    &:active{
        background-color: #ccc;
    }
}

.cla-modal-heading,
.cla-block__heading{
    font-family: sanchezsemibold;
    font-weight: bold;
}

.cla-block__heading{
    font-size: .9em;
    margin-top: 0;
    line-height: 24px;
    margin-bottom: 0.5em;
}

.cla-block-copy-button{
    position: absolute;
    right: 9px;
    top: 12px;
}

.cla-btn{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: bold;
    padding: 0 16px;
    border: none;
    display: inline-block;
    color: #fff;
    background: #177c99;
    width: 100%;
    font-size: 1em;
    max-width: 68px;
    text-align: center;
    cursor: pointer;
}

.cla-modal-main{
    float: left;
    width: 50%;
    font-size: 0.95em;
    position: relative;
}

.cla-modal-side{
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
}

.cla-block__content{
    margin: 3px;
    font-size: .85em;
}

.fit-text{
    word-wrap: break-word;
}

.ui-dialog .ui-dialog-titlebar-close.cla-close-modal-button {
    position: absolute;
    padding: 11px 12px;
    color: #555;
    font-size: 0.5em;
    background: url(https://credlystatic.s3.amazonaws.com/img/sprite-new.png?1478022809) no-repeat -411px -232px;
    width: 59px;
    height: 58px;
    text-indent: -9999em;
    display: block;
    position: absolute;
    top: -24px;
    right: -29px;
    z-index: 10;
}

.cla-lead-text {
    padding-right: 1em;
    margin-bottom: 1.2em;
    font-size: 1.06em;
}

.cla-finish-button.blue-btn{
    float: right;
    margin-top: 10px;
    max-width: initial;
    display: block;
    width: 110px;
}

.cla-add-img{
    height: 23px;
    margin: 0;
    position: relative;
    top: 7px;
}

.cla-date-block,
.cla-date-block:hover,
.cla-date-block:active,{
    background-color: #eee;
    cursor: default;
}

.cla-copy-notif{
    display: block;
    background-color: #5cb85c;
    padding: 10px 15px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    margin-bottom: -80px;
}

.cla-copy-notif.open{
    margin-bottom: 0;
}

.cla-container {
    .clearfix::after,
    .clearfix::before {
        content: "";
        clear: both;
        display: table;
    }
}

.linkedin-btn{
    color: #177c99;
}

.linkedin-add-img{
    max-width: 115px;
    border-radius: 3px;
    position: relative;
    top: 6px;
    margin-right: 6px;
}


@media screen and (max-width: 900px){


    .#{$ns}modal{
        margin-left: -250px;
        margin-top: 0 !important;
        top: 20px !important;
        width: 500px;
        height: auto;
        max-width: 100%;
    }

    .cla-modal-main{
        width: 100%;
    }

    .cla-modal-side{
        display: none;
    }
}

@media screen and (max-width: 550px){

    .#{$ns}modal{
        margin-left: 0;
        left: 10px;
        right: 30px;
        margin-top: -330px;
        width: 95%;
        height: auto;
    }

    .linkedin-add-img {
        top: 0;
        display: block;
        margin: 14px 0px;
        margin-right: 6px;
    }

    .cla-modal-main{
        overflow-y: scroll;
        max-height: 250px;
    }
}

