<div class="cla-container">
  <div class="cla-modal ui-dialog dialog-popup dialog-thick-popup thick-border ui-dialog-content ui-widget-content">
      <a href="#" class="cla-close-modal cla-close-modal-button ui-dialog-titlebar-close ui-corner-all"></a>
      <div class="cla-modal__inner">
        <h2 class="cla-modal-heading">
          Add Your Credit to Linkedin
        </h2>
        <p class="cla-lead-text">
          Use the <strong>copy</strong> buttons below to quickly fill in the information in the “Add Certification” area of your LinkedIn profile.
          <br/>
          <a href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME" 
             target="_blank" 
             class="linkedin-btn">
             <img class="linkedin-add-img" 
                  src="https://s3.amazonaws.com/credly-linkedin-add/dist/add-to-profile.png" />
             Click here if LinkedIn window does not appear automatically.
          </a>
        </p>      
        <div class="cla-modal-body clearfix">
          <div class="cla-modal-main">
            <div class="cla-block cla-click-to-copy clearfix" 
                 data-clipboard-text="{{ certification.name }}">
              <h3 class="cla-block__heading">
                Certification Name
              </h3>
              <p class="cla-block__content">
              {{ certification.name }} 
              </p>
              <span class="cla-block-copy-button blue-btn cla-btn">Copy</span>
            </div> 
            <div class="cla-block cla-click-to-copy clearfix" 
                 data-clipboard-text="{{ certification.authority }}">
              <h3 class="cla-block__heading">
                Certification Authority
              </h3>
              <p class="cla-block__content">
              {{ certification.authority }}
              </p>
              <span class="cla-block-copy-button blue-btn cla-btn">Copy</span>
            </div> 
            <div class="cla-block cla-click-to-copy clearfix" 
                 data-clipboard-text="{{ certification.licenseNumber }}">
              <h3 class="cla-block__heading">
                License number
              </h3>
              <p class="cla-block__content">
              {{ certification.licenseNumber }}
              </p>
              <span class="cla-block-copy-button blue-btn cla-btn">Copy</span>
            </div> 
            <div class="cla-block cla-click-to-copy clearfix" 
                 data-clipboard-text="{{ certification.url }}">
              <h3 class="cla-block__heading">
                Certification URL
              </h3>
              <p class="cla-block__content fit-text">
              {{ certification.shortUrl }}
              </p>
              <span class="cla-block-copy-button blue-btn cla-btn">Copy</span>
            </div> 
            <div class="cla-block cla-date-block clearfix">
              <h3 class="cla-block__heading">
                Dates
              </h3>
              <p class="cla-block__content">
              {{ certification.date.from }} - {{ certification.date.to }}<br/> 
              {{ certification.dateText }}
              </p>
            </div> 
            <div class="cla-modal-side" 
                style="background-image: url(https://s3.amazonaws.com/credly-linkedin-add/dist/linkedin_screenshot.png)">    
            </div>
          </div>
        </div>
        <a class="blue-btn cla-finish-button cla-close-modal cla-btn">Finish</a>
      </div>
  </div>
  <div class="cla-copy-notif">copied to clipboard</div>
</div>